.métricas{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 4em;
    margin-bottom: 4em;
}

.container_métricas_box{
    display: flex;
    flex: column;
    margin: 4em 8em;
}
.container_métricas {
    display: flex;
    flex-direction: column;
}

.container_métricas_número {
    display: flex;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: var(--vinho);
}

.container_métricas_opção {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--cor-banner );
}

.container_métricas_texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza);
}

